
<div class="container">
  <app-header></app-header>
  <!-- <app-dominicode></app-dominicode> llamando al componente-->
  <router-outlet></router-outlet>  <!--llamando al componente atraves de la ruta-->
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<p>Ejemplo sencillo de <b>TypeScript</b> puro</p>
{{ title }}<br>
Suma: 10 + 2 = {{ 2 + 10 }}<br>
Resta: 10 - 2 = {{ 10-2}} || 2 - 10 = {{ 2-10}} <br><br>

<input type="text" [(ngModel)]="title"/>
<a href="https://www.youtube.com/watch?v=i-oYrcNtc2s"> Angular 12 - Curso de Angular desde cero</a>
